h1 {
	font-family: arial, sans-serif;
	margin: auto;
	text-align: center;
}

h2 {
	font-family: arial, sans-serif;
	text-align: center;
}
table {
	font-family: arial, sans-serif;
	width: 50%;
	margin: auto;

}

td, th{
	text-align: left;
	padding: 1%;
}

p{
	text-align: center;
	font-family: arial, sans-serif;
}

a{
	font-family: arial, sans-serif;
	color: black;
}

code{
	font-family: monospace, monospace;
	width: 50%;
	margin: auto;
	text-align: center;

}

.codebox{
	width: 50%;
}

.notice{

	font-family: arial, sans-serif;
	color: red;

}

.helpful{

	font-family: arial, sans-serif;
	color: green;

}